.footer {
  background: #BDD8F1;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px 3%;
}

.footer input {
  width: 40%;
  height: 30px;
  padding: 17px;
  outline: none;
  font-size: 15px;
}

.footer .sub-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  background: #10347C;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
}

.social-icon {
  font-size: 40px;
  margin: 30px 10px;
}

footer .tw-icon {
  color: #00ACEE;
}

footer .tw-icon:hover {
  color: #00ACEE;
}

footer .insta-icon {
  color: #C13584;
}

footer .insta-icon:hover {
  color: #C13584;
}

footer .fb-icon {
  color: #3B5998;
}

footer .fb-icon:hover {
  color: #3B5998;
}

footer .yt-icon {
  color: #FF0000;
}

footer .yt-icon:hover {
  color: #FF0000;
}

@media all and (max-width: 768px) {
  .footer input {
    width: 90%;
  }
}